<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Homer White">
    <link rel="shortcut icon" href="images/Rplot.png">

    <title><%- pageTitle %> | <%- siteTitle %></title>

    <!-- Bootstrap core CSS -->
	<link href="css/bootstrap4.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/offcanvas4.css" rel="stylesheet">
	<!-- Custom styles for our site -->
	<link href="css/custom.css" rel="stylesheet">
	
  </head>
  <body>
     
	<%- partial("partial/_navbarmain") %>
	
    <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      
        <p class="float-xs-right hidden-md-up">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <%- partial("partial/_jumbotron") %>
		
		<!-- page-specific content -->
		<%- yield %>

      </div><!--/col-xs-12 -->
	  <%- partial("partial/_sidebar") %>

    </div><!-- /row -->

     <%- partial("partial/_footer") %>
		
	</div><!--/.container-->

    <!-- jQuery first, then Tether, Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="js/bootstrap4.min.js"></script>
	<script src="js/offcanvas4.js"></script>
	<script src="js/ie10-viewport-bug-workaround.js"></script>
    <!-- script to control behavior of jumbotron image
    =================================================== -->
    <script src="js/EmpRuleIconApp.js"></script>
		
		
  </body>
</html>